/*ПСЕВДОКЛАССЫ*/

* {
    box-sizing: border-box;
}

:root {
    --test-elem-size: 100px;
    font-size: 32px;
}


.test {
    height: var(--test-elem-size);
    width: var(--test-elem-size);
    background: dodgerblue;
    margin: 10px auto;
}

.test:active {
    border: 4px solid orange;
    cursor: grabbing;
}

.test:hover {
    cursor: grab;
}

.test:focus {
    outline-offset: -2px;
    outline: darkblue solid 6px;
}

button {
    cursor: pointer;
}
